*, *::before, *::after{
    box-sizing: border-box;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #023e8a, #caf0f8);
}

.container{
    width: 1000px;
    height: 550px;
    margin: 20px auto;
}

.calculator{
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 60px;
    background-color: #fcfcfce3;
    border-radius: 1rem; /* = 16px */
    box-shadow: 0 4px 8px rgba(17, 17, 17, 0.2), 0 6px 20px 0 rgba(17, 17, 17, 0.20);
}

.result{
    height: 120px;
}

.history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #ccc;
}

.output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

.keyboard{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(70px, auto) repeat(4, 60px);
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border-width: 0;
    font-size: 15px;
}

.number{
    background-color: #ad88e7;
}

.empty{
    background-color: transparent;
}

.operator{
    background-color: #b1bdf0;
}

.number, .operator{
    cursor: pointer;
}

.operator:active, .number:active{
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
    outline: none;
}

.operator:nth-child(4){
    font-size: 20px;
    background-color: #afa3ec;
}

.operator:nth-child(8){
    font-size: 20px;
    background-color: #afa3ec;
}

.operator:nth-child(12){
    font-size: 20px;
    background-color: #afa3ec;
}

.operator:nth-child(16){
    font-size: 20px;
    background-color: #afa3ec;
}

.operator:nth-child(20){
    font-size: 20px;
    background-color: #afa3ec;
}